{% extends "djadmin/auth_page.html" %}
{% load i18n djadmin %}
{% block auth_title %}{% if validlink %}{% translate 'Choose a new password' %}{% else %}{% translate 'Link expired' %}{% endif %}{% endblock %}
{% block auth_card %}
{% if validlink %}
  <form method="post" class="dj-auth-form">{% csrf_token %}
    {% for field in form %}
      <div class="form-row dj-field">
        {{ field.label_tag }}
        <div class="dj-field-control">{{ field }}</div>
        {% if field.help_text %}<div class="dj-help">{{ field.help_text|safe }}</div>{% endif %}
        {{ field.errors }}
      </div>
    {% endfor %}
    <button type="submit" class="dj-btn dj-btn--primary dj-btn--block">{% translate 'Set password' %}</button>
  </form>
{% else %}
  <div class="dj-alert dj-alert--danger">{% dj_icon "alert" "dj-icon dj-icon--sm" %}
    <span>{% translate 'This reset link is invalid, probably because it was already used. Request a new one.' %}</span>
  </div>
  {% url 'admin_password_reset' as reset_url %}
  {% if reset_url %}<a class="dj-btn dj-btn--primary dj-btn--block" href="{{ reset_url }}">{% translate 'Request a new link' %}</a>{% endif %}
{% endif %}
{% endblock %}
