{% extends "admin/base_site.html" %}
{% load i18n admin_urls djadmin %}

{% block title %}{% if form.errors %}{% translate "Error:" %} {% endif %}{{ block.super }}{% endblock %}
{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumbs">
  <li><a href="{{ dj_index_url }}">{% translate 'Home' %}</a></li>
  {% dj_url 'app_list' opts.app_label as dj_app_url %}
  <li><a href="{{ dj_app_url }}">{{ opts.app_config.verbose_name }}</a></li>
  <li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
  <li><a href="{% url opts|admin_urlname:'change' original.pk|admin_urlquote %}">{{ original|truncatewords:"18" }}</a></li>
  <li aria-current="page">{% if form.user.has_usable_password %}{% translate 'Change password' %}{% else %}{% translate 'Set password' %}{% endif %}</li>
</ol>
{% endblock %}

{% block content %}
<div id="content-main" class="dj-form-page dj-form-page--narrow">
  {% if form.errors %}
    <div class="dj-alert dj-alert--danger errornote">{% dj_icon "alert" "dj-icon dj-icon--sm" %}
      <span>{% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}</span>
    </div>
  {% endif %}

  <div class="dj-alert">{% dj_icon "key" "dj-icon dj-icon--sm" %}
    <span>
      {% blocktranslate with username=original %}Enter a new password for <strong>{{ username }}</strong>.{% endblocktranslate %}
      {% if not form.user.has_usable_password %}{% translate 'This enables password-based sign-in for that account.' %}{% endif %}
    </span>
  </div>

  <form{% if form_url %} action="{{ form_url }}"{% endif %} method="post" id="{{ opts.model_name }}_form" class="dj-form">{% csrf_token %}
    <input type="text" name="username" value="{{ original.get_username }}" class="dj-hidden" autocomplete="username">
    {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
    <fieldset class="dj-fieldset">
      <div class="dj-fieldset-body">
        {% for field in form %}
          <div class="form-row dj-row field-{{ field.name }}">
            <div class="dj-field{% if field.errors %} dj-field--error{% endif %}">
              {{ field.label_tag }}
              <div class="dj-field-control">{{ field }}</div>
              {% if field.help_text %}<div class="help dj-help">{{ field.help_text|safe }}</div>{% endif %}
              {{ field.errors }}
            </div>
          </div>
        {% endfor %}
      </div>
    </fieldset>
    <div class="submit-row dj-submit-row">
      <div class="dj-submit-right">
        <input type="submit" class="default dj-btn dj-btn--primary" value="{% translate 'Change password' %}">
      </div>
    </div>
  </form>
</div>
{% endblock %}
