{% extends "admin/base_site.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumbs">
    <li><a href="{{ dj_index_url }}">{% translate 'Home' %}</a></li>
    <li aria-current="page">{% for app in app_list %}{{ app.name }}{% endfor %}</li>
  </ol>
{% endblock %}

{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}
