{% load i18n admin_urls djadmin %}
{% block object-tools-items %}
  <li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="dj-btn dj-btn--ghost historylink">{% dj_icon "clock" "dj-icon dj-icon--sm" %}{% translate "History" %}</a>
  </li>
  {% if has_absolute_url %}
    <li><a href="{{ absolute_url }}" class="dj-btn dj-btn--ghost viewsitelink">{% dj_icon "external" "dj-icon dj-icon--sm" %}{% translate "View on site" %}</a></li>
  {% endif %}
{% endblock %}
